entrypoint = "index.html"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["vite"]

[deployment]
run = ["npm i", "npm run dev"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 6800

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
